ol {
  margin: 0;
  padding: 0;
}

div.ordinance {
  max-width: 1200px;
  line-height: 1.5em;
  font-size: 14px;
  font-family: sans-serif;
  margin: 40px auto;
  color: #333337;
}

h1.documentTitle {
  text-align: center;
  font-size: 20px;
  margin-bottom: 2em;
}

div.documentDescription {
  margin-bottom: 3em;
}

div.article {
  margin-bottom: 2em;
  counter-increment: articleNum;
}

h2.articleTitle:before {
  content: "第" counter(articleNum) "条　";
}

h2.articleTitle {
  font-size: 1em;
  font-weight: normal;
  margin-bottom: auto;
}

.articleItems {
  padding-left: 2.5em;
}


.item1>ol.subItems {
  list-style-type: none;
}
.item1>ol.subItems>li{
  counter-increment: parenNum;
}
.item1>ol.subItems>li:before{
  content: "(" counter(parenNum) ")";
}
div.item2 {
  display: inline;
  padding-left: 0.3em;
}
div.item2>div.statement {
  display: inline;
}


.item2>ol.subItems {
  padding-left: 3.5em;
  list-style-type: katakana;
}


.item3>ol.subItems {
  list-style-type: none;
}
.item3>ol.subItems>li{
  counter-increment: parenKatakana;
}
.item3>ol.subItems>li:before{
  content: "(" counter(parenKatakana, katakana) ")";
}
div.item4 {
  display: inline;
  padding-left: 0.3em;
}
div.item4>div.statement {
  display: inline;
}


ol.timestamps {
  list-style-type: none;
  margin-top: 3em;
}

div.appendix {
  padding-top: 2em;
}

div.appendix>p {
  padding: 0;
  margin: 0;
}
